.Notifications {
    border: thin dashed #E0354B;
    padding: 7px;
    float: right;
}

.menuItem {
      
}

[data-notification-type='default'] {
    color: blue
}

[data-notification-type='urgent'] {
    color: red
}
